.places {
    max-width: 984px;
    margin: 92px auto 92px;
}

@media screen and (max-width: 1080px) {
    .places {
        margin: 92px 48px 90px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin: 92px 24px 90px;
    }
}

@media screen and (max-width: 600px) {
    .places {
        margin: 64px 0 66px;
    }
}