.lead__subtitle {
    max-width: 640px;
    text-align: center;
    margin: 32px 0 64px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 32px 0 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 450px) {
    .lead__subtitle {
        margin: 16px 16px 40px;
    }
}