.lead__caption {
    max-width: 984px;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 976px) {
    .lead__caption {
        margin: 0 0 0 calc((48/1024)*100%);
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin: 0 0 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .lead__caption {
        margin: 0 0 0 16px;
    }
}