.lead__figure {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px){
    .lead__figure {
        max-width: 928px;
    }
}